<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="myCtrl">
      <ion-header-bar class="bar-dark">
      <button class="button button-clear icon ion-minus-circled" ng-click="delete = !delete; reorder = false;"></button>
        <h1 class="title">Friend List</h1>
      <button class="button button-clear icon ion-arrow-move" ng-click="reorder = !reorder; delete = false;"></button>  
      </ion-header-bar>
      <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="searchText" />
        </label>
      </div>

      <ion-content class="has-subheader">
        <ion-list class="list" show-reorder="reorder" show-delete="delete" >
          <ion-item class="item item-thumbnail-left" ng-repeat="element in data.persons | filter: {personName: searchText}">
            <img ng-src="{{ element.personDisplayPicture }}" />
            <h2>{{ element.personName }}</h2>
            <p>Phone - {{ element.personContact }}</p>
            <p>Email - {{ element.personEmail }}</p>
            <ion-reorder-button class="ion-arrow-move" on-reorder="moveItem(element, $fromIndex, $toIndex)"></ion-reorder-button>
            <ion-delete-button class="ion-minus-circled" ng-click="onDelete(element)"></ion-delete-button>
          </ion-item>
          
        </ion-list>
            
      </ion-content>
    </ion-pane>
  </body>
</html>
